<!DOCTYPE html>
<html>
    {% block head %}
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    {% endblock %}

    {% block body %}
    <body>
        <div class="broadcast-form">
            <h2>Введите информацию:</h2>
            <form id="infoForm" method="POST">
                <label for="infoInput">Информация:</label>
                <input type="text" id="name11" name="name">
                <input type="radio" id="telegram" name="telegram" value=True>
                <label for="telegram">Телеграм</label>
                <input type="radio" id="vk" name="vk" value=True>
                <label for="vk">ВКонтакте</label>
                <button type="submit">Отправить</button>
            </form>
            <p> {{ response }} </p>
        </div>
    </body>
    {% endblock %}
</html>
