{% extends "menu.html" %}

{% block content %}
<div class="col-12">
    <h1 class="text-center my-5">Сводка использования чат-ботов</h1>
</div>

<div class="col-12">
    <h2 class="text-center mb-5">Вопросы пользователей</h2>
</div>

<div class="w-100">
    <canvas id="myChart" class="mb-5"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'line',
        data:
        {
            labels: [{% for i in question_counts[0]%}'{{ i }}', {% endfor %}],
            datasets: [
            {
                label: 'Кол-во вопросов в день вк',
                data: {{ question_counts[1] }},
                borderWidth: 4,
                borderDash: [5, 5],
            },
            {
                label: 'Кол-во вопросов в день тг',
                data: {{ question_counts[2] }},
                borderWidth: 4,
                borderDash: [3, 3],
            },
            ]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                },
                x: {
                    beginAtZero: true
                  }
            }
        }
    });
</script>
{% endblock %}

