<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page_title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body>
        <div class="container-fluid">
            <div class="row vh-100">
                <div class="col-lg-2 text-white position-fixed h-100" style="background-color: #34547A;">
                    <nav>
                        <div class="text-center mb-4 mt-5" style="{{ 'background-color: #FF7628;' if page_title == 'Сводка' }}">
                            <a href="{{ url_for('index') }}" class="link-light text-end fs-2 fst-italic text-decoration-none">Сводка</a>
                        </div>
                        <div class="text-center mb-4" style="{{ 'background-color: #FF7628;' if page_title == 'Анализ вопросов' }}">
                            <a href="{{ url_for('questions_analysis') }}" class="link-light text-end fs-2 fst-italic text-decoration-none">Анализ вопросов</a>
                        </div>
                        <div class="text-center mb-4" style="{{ 'background-color: #FF7628;' if page_title == 'Рассылка' }}">
                            <a href="{{ url_for('broadcast') }}" class="link-light text-end fs-2 fst-italic text-decoration-none">Рассылка</a>
                        </div>
                        <div class="text-center" style="{{ 'background-color: #FF7628;' if page_title == 'Настройки' }}">
                            <a href="{{ url_for('settings') }}" class="link-light text-end fs-2 fst-italic text-decoration-none">Настройки</a>
                        </div>
                    </nav>
                    <div class="position-absolute bottom-0 start-50 translate-middle-x mb-5 w-75">
                        <img src="{{ url_for('static', filename='UTMN_logo_rus_wiki.svg') }}" class="w-100" alt="UTMN logo">
                    </div>
                </div>
                <div class="col-lg-10 offset-lg-2" style="background-color: #EEEEEE;">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-8">
                            {% block content %}

                            {% endblock %}
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
    </body>
</html>
