<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page_title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body>
        <div class="container-fluid">
            <div class="row" style="height: 100vh;">
                <div class="col text-white" style="height: 100%; background-color: #34547A;">
                    <nav>
                        <div class="text-center" style="margin-bottom: 30px; margin-top: 153px; {{ 'background-color: #FF7628;' if page_title == 'Сводка' }}">
                            <a href="/" class="link-light text-end fs-2 fst-italic"
                            style="text-decoration: none;">Сводка</a>
                        </div>
                        <div class="text-center" style="margin-bottom: 30px; {{ 'background-color: #FF7628;' if page_title == 'Вопросы без ответов' }}">
                            <a href="/questions-wo-answers" class="link-light text-end fs-2 fst-italic"
                            style="text-decoration: none;">Вопросы без ответов</a>
                        </div>
                        <div class="text-center" style="margin-bottom: 30px; {{ 'background-color: #FF7628;' if page_title == 'Рассылка' }}">
                            <a href="/broadcast" class="link-light text-end fs-2 fst-italic"
                            style="text-decoration: none;">Рассылка</a>
                        </div>
                        <div class="text-center" style="margin-bottom: 40vh; {{ 'background-color: #FF7628;' if page_title == 'Настройки' }}">
                            <a href="/settings" class="link-light text-end fs-2 fst-italic"
                            style="text-decoration: none;">Настройки</a>
                        </div>
                        <div class="text-center" style="margin-bottom: 30px;">
                            <img src="{{ url_for('static', filename='UTMN_logo_rus_wiki.svg') }}" alt="UTMN logo" style="width: 210px; height: 127.02px;">
                        </div>
                    </nav>
                </div>
                <div class="col-10" style="background-color: #EEEEEE;">
                    {% block content %}
                    
                    {% endblock %}
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
    </body>
</html>