<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <style>
            body, html{
                max-width: 100%;
            }
        </style>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/admin_panel/static/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/admin_panel/static/styles.css">
    </head>

    <body>
        <div class="container-fluid">
            <div class="row mh-100">
                <div class="col text-white" style="background-color: #34547A;">
                    <div class="text-end" style="margin-bottom: 75px;">
                        <a href="main-page.html" class="link-light text-end fs-5 fst-italic"
                        style="text-decoration: none;">Выход</a>
                    </div>
                    <div class="qwa text-center" style="margin-bottom: 30px;">
                        <a href="questions-wo-ans.html" class="link-light text-end fs-2 fst-italic"
                        style="text-decoration: none;">Вопросы без ответов</a>
                    </div>
                    <div class="text-center" style="margin-bottom: 30px;">
                        <a href="danger-q.html" class="link-light text-end fs-2 fst-italic"
                        style="text-decoration: none;">Тревожные вопросы</a>
                    </div>
                    <div class="text-center" style="margin-bottom: 30px;">
                        <a href="broadcast.html" class="link-light text-end fs-2 fst-italic"
                        style="text-decoration: none;">Рассылка</a>
                    </div>
                    <div class="text-center" style="margin-bottom: 330px;">
                        <a href="settings.html" class="link-light text-end fs-2 fst-italic"
                        style="text-decoration: none;">Настройки</a>
                    </div>
                    <div class="text-center" style="margin-bottom: 30px;">
                        <img src="/admin_panel/static/UTMN_logo_rus_wiki.png" alt="UTMN logo" style="width: 210px; height: 127.02px;">
                    </div>
                </div>
                <div class="col-10" style="background-color: #EEEEEE;">
                    {% block content %}
                    
                    {% endblock %}
                </div>
            </div>
        </div>

        <script src="/admin_panel/static/bootstrap.bundle.min.js"></script>
    </body>
</html>