body, html{
    max-width: 100%;
}

tr {
    line-height: 30px;
    min-height: 30px;
    height: 30px;
}

.broadcast-check {
    width: 30px;
    height: 30px;
}

.bg-dark-blue {
    background-color: #34547A;
}

.bg-orange {
    background-color: #FF7628;
}

.bg-gray-d9 {
    background-color: #D9D9D9;
}

.bg-gray-e {
    background-color: #EEEEEE;
}

.btn-blue {
  --bs-btn-font-weight: 600;
  --bs-btn-color: #ffffff;
  --bs-btn-bg: #34547A;
  --bs-btn-border-color: #34547A;
  --bs-btn-border-radius: .5rem;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #2b4e7a;
  --bs-btn-hover-border-color: #2b4e7a;
  --bs-btn-focus-shadow-rgb: #34547A;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: #1f4a7e;
  --bs-btn-active-border-color: #1f4a7e;
}
