{% extends "menu.html" %}

{% block content %}
<div class="col-12">
    <h1 class="text-center my-5">Сводка использования чат-ботов</h1>
</div>

<div class="col-12">
    <h2 class="text-center mb-5">Вопросы пользователей</h2>
</div>

<div class="w-100">
    <canvas id="myChart" class="mb-5"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('myChart');

    const plugin = {
        id: 'customCanvasBackgroundColor',
        beforeDraw: (chart, args, options) => {
            const {ctx} = chart;
            ctx.save();
            ctx.globalCompositeOperation = 'destination-over';
            ctx.fillStyle = options.color || '#99ffff';
            ctx.fillRect(0, 0, chart.width, chart.height);
            ctx.restore();
        }
    };

    const data = {
        labels: [{% for i in question_counts[0]%}'{{ i }}', {% endfor %}],
        datasets: [
        {
            label: 'Кол-во вопросов в день вк',
            data: {{ question_counts[1] }},
            borderWidth: 4,
            borderDash: [5, 5],
        },
        {
            label: 'Кол-во вопросов в день тг',
            data: {{ question_counts[2] }},
            borderWidth: 4,
            borderDash: [3, 3],
        },
        ]
    };

    new Chart(ctx, {
        type: 'line',
        data: data,
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Кол-во вопросов',
                        padding: 8,
                        font: {
                            size: 24
                        }
                    },
                    ticks: {
                        stepSize: 1
                    }
                },
                x: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Даты',
                        padding: 8,
                        font: {
                            size: 24
                        }
                    }
                  }
            },
            plugins: {
                customCanvasBackgroundColor: {
                    color: 'white',
                },
                legend: {
                    labels: {
                        padding: 20,
                        font: {
                            size: 16
                        }
                    }
                }
            }
        },
        plugins: [plugin],
    });
</script>
{% endblock %}

