--extra-index-url https://download.pytorch.org/whl/cpu
python-dotenv
aiohttp
langchain
langchain-community
gigachat
atlassian-python-api
beautifulsoup4
lxml
pypdf
torch
sentence-transformers
sqlalchemy
psycopg2-binary
pgvector
pytest
